<body>
 <div class="row">
  
    <div class="large-9 columns" role="content">
   
      <h1>Editing User</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @user %> |
      <%= link_to 'Back', users_path %>

    </div>

  </div>
</body>
</html>