<p>Hello!</p>

<p>I've found a great library app that I'd like you to try.  Give it a whirl at [YOUR WEBSITE HERE]!</p>

<p>Sincerely,</p>
<%= current_user.username %> &lt;<%= current_username.email %>&gt