      <div class="panel">
        <h5>Like this app?</h5>
        
        <p>Invite your friends to join!</p>

        <div>
	        <%= form_tag("/users/invite_user") do %>
		        <%= label_tag :invite_email, "Enter your friend's email address here" %>
		        <%= email_field_tag :invite_email %>
		        <%= submit_tag("Submit!") %>
	        <% end %>
        </div>

      </div>